body {
    margin: 0;
    background-color: #1b1a1b;
    font-size: 16px;
}

.parent:hover .last-child{
  font-weight: 400;
}
.modal-content{
  scrollbar-width: none;
}
.modal-content::-webkit-scrollbar{
  width: 0px;
}
.modal-img{
  box-shadow: 0 0 30px 25px rgb(0 0 0 / 70%);
}


